*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
/* top css start */
.top{
     height: 40px;
    background: #333;
    margin: 0 auto;
    font-size: 12px;
    overflow: hidden;
}
.container{
background-color:#333;
    height: 40px;
    width: 1250px;
    margin: 0 auto;
    line-height: 40px;
    overflow: hidden;
}
.container .container-left{
    float: left;
}
.container-right{
    float: right;
    margin: 0  40px;
}
.container-right .xttz{
    margin: 0 25px 0 0;
}
.container .container-right .shop{
    background-color: #424242;
    display: inline-block;
    width: 120px;
}
.container span{
    color: #424242;
    margin: 0 .5em;
}
.container a{
     color: #b0b0b0;
    text-decoration: none;
 }
 .container a:hover{
     color: white;
 }
/* top css end */
/* hearder css start */
.hearder{
    height: 100px;
    width: 100%;
    float: left;
    overflow: hidden;
    position: absolute;
}
.hearder a:hover{
    color: #ff6700;
}
.hearder .hearder-logo{
    background-color: #ff6700;
    width: 55px;
    height: 55px;
    overflow: hidden;
    margin: 20px 80px 20px 330px;
    float: left;
}
.hearder  .hearder-logo .mi-logo{
    background: #ff6700 ;
    margin: 6px 0 0 4px;
}
.hearder .black{
    width: 100px;
    height: 100px;
    float: left;
}
.hearder .list{
    text-decoration: none;
    color: #333333;
    overflow: hidden;
    float: left;
}
.hearder .list ul{
    list-style: none;
    float: left;
    margin: 33px 0 0;
}
.hearder ul li{
    display: inline-block;
    margin: 5px 17px 0 2px;
}
.hearder ul a{
    text-decoration: none;
    color: #333333;
}
.hearder .hearder-input{
    width: 245px;
    height: 50px;
  margin: 25px 0 0 80px;
    border: 1px solid #e0e0e0;
}
.hearder .small-text{
    position: absolute;
    top: 44px;
    right: 390px;
    z-index: 2;
    text-align: right;
    width: 147px;
    height: 21px;
    font-size: 12px;
}
.hearder .small-text a{
    text-decoration: none;
    background: #eee;
    color: #757575;
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
}
.hearder .hearder-ss{
    height: 54px;
    width: 54px;
    margin: 25px 0 0 -5px;
}
.hearder .small-text a:hover{
    color: #ff6700;
}
/* hearder css end*/