<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="Bootstrap/css/bootstrap.css">

</head>
<body>
<div id="app">
    <div class="header">
        <div class="container-fluid" id="container-fluid-header">
            <div class="header-logo">
                <a href=""><img src="img/QQ图片20180501215312.png" alt=""></a>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="container">
            <hr>

            <div class="personal-information">
                <p class="btn btn-primary btn-lg"><span>基本信息</span></p>
                <div><span>姓名：</span><input type="text" v-model="names"></div>
                <span>性别：</span><select name="" id="" style='width:5rem;height: 2.6rem;' v-model="sex">
                <option value="man">男</option>
                <option value="woman">女</option>
            </select><br>
                <span>年龄：</span><select name="" id="age" style='width:5rem;height: 2.6rem' v-model="age">
                <!-- age的对应value从0到99 -->

            </select><br>
            </div>

            <div class="money">
                <p class="btn btn-primary btn-lg"><span>资产</span></p>
                <div><span>总金：</span><input type="text" name="" v-model="moneyall"></div>
                <div><span>现金：</span><input type="text" name="" v-model="moneybody"></div>
                <div><span>储蓄：</span><input type="text" name="" v-model="moneyblank"></div>
            </div>

            <div class="personal-attributes-left">
                <p class="btn btn-primary btn-lg"><span>人物属性</span></p>
                <div><span>力量：</span><input type="text" name="" v-model="str"></div>
                <div><span>敏捷：</span><input type="text" name="" v-model="dex"></div>
                <div><span>体质：</span><input type="text" name="" v-model="con"></div>
                <div><span>智力：</span><input type="text" name="" v-model="int"></div>
                <div><span>意志：</span><input type="text" name="" v-model="pow"></div>
                <div><span>外貌：</span><input type="text" name="" v-model="app"></div>
                <div><span>体型：</span><input type="text" name="" v-model="siz"></div>
                <div><span>教育：</span><input type="text" name="" v-model="edu"></div>
            </div>

            <div class="personal-attributes-right">
                <p class="btn btn-primary btn-lg"><span>人物属性</span></p>
                <div class="table-attributes">
                    <table border="1">
                        <tr>
                            <td><span>灵感：</span></td>
                            <td><span>**</span></td>
                        </tr>
                        <tr>
                            <td><span>幸运：</span></td>
                            <td><span>**</span></td>
                        </tr>
                        <tr>
                            <td><span>知识：</span></td>
                            <td><span>**</span></td>

                        </tr>
                        <tr>
                            <td><span>SAN值：</span></td>
                            <td><span>**</span></td>
                        </tr>
                        <tr>
                            <td><span>HP值：</span></td>
                            <td><span>**</span></td>
                        </tr>
                        <tr>
                            <td><span>MP值：</span></td>
                            <td><span>**</span></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="point">
                <p class="btn btn-primary btn-lg"><span>配点</span></p>
                <div class="table-skill">
                    <table border="1">
                        <tr>
                            <td><span>职业点：</span></td>
                            <td><span>**</span></td>

                        </tr>
                        <tr>
                            <td><span>兴趣点：</span></td>
                            <td><span>**</span></td>
                        </tr>
                        <tr>
                            <td><span>剩余职业：</span></td>
                            <td><span>**</span></td>

                        </tr>
                        <tr>
                            <td><span>剩余兴趣：</span></td>
                            <td><span>**</span></td>
                        </tr>
                        <tr>
                            <td><span>职业：</span></td>
                            <td><select style='width:10rem;' name="" v-model="job">
                                <!-- job的value对应顺序依次从0开始到27 -->
                                <option value="0">考古学家</option>
                                <option value="1">艺术家</option>
                                <option value="2">运动员</option>
                                <option value="3">作家</option>
                                <option value="4">牧师</option>
                                <option value="5">罪犯</option>
                                <option value="6">艺术爱好者</option>
                                <option value="7">医生</option>
                                <option value="8">流浪者</option>
                                <option value="9">工程师</option>
                                <option value="10">艺人</option>
                                <option value="11">农夫/伐木工</option>
                                <option value="12">黑客/顾问</option>
                                <option value="13">记者</option>
                                <option value="14">律师</option>
                                <option value="15">军官</option>
                                <option value="16">传教士</option>
                                <option value="17">音乐家</option>
                                <option value="18">心理学家</option>
                                <option value="19">驾驶员</option>
                                <option value="20">警方侦探</option>
                                <option value="21">警察</option>
                                <option value="22">私家侦探</option>
                                <option value="23">教授</option>
                                <option value="24">士兵</option>
                                <option value="25">发言人</option>
                                <option value="26">部落成员</option>
                                <option value="27">狂热者</option>
                            </select></td>

                        </tr>

                    </table>
                </div>
            </div>
            <div class="iMg">
                <img src="img/450px-克苏鲁_影法师.png" alt="" >
            </div>
            <div class="skill">
                <p class="btn btn-primary btn-lg"><span>技能点</span></p>
                <div class="skill-table">
                    <table border="1">
                        <tr id="skill-bg">
                            <td colspan="3"><span>技能名称</span></td>
                            <td><span>初始</span></td>
                            <td><span>本职</span></td>
                            <td><span>职业</span></td>
                            <td><span>兴趣</span></td>
                            <td><span>合计</span></td>
                        </tr>
                        <tr>
                            <td colspan="3"><span>快速交谈</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                        </tr>
                        <tr>
                            <td colspan="3"><span>聆听</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                        </tr>
                        <tr>
                            <td colspan="3"><span>侦查</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                        </tr>
                        <tr>
                            <td colspan="3"><span>闪避</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                        </tr>
                        <tr>
                            <td colspan="3"><span>拳击/厮打</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                        </tr>
                        <tr>
                            <td colspan="3"><span>开锁</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                        </tr>
                        <tr>
                            <td colspan="3"><span>驾驶</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                        </tr>
                        <tr>
                            <td colspan="3"><span>心理学</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                            <td><span>**</span></td>
                        </tr>
                        <tr>

                            <td colspan="6"><button type="button" class="btn btn-primary btn-lg btnDisplay">展开技能</button></td>
                            <!-- skill的value按顺序依次从0开始 -->
                            <td colspan="2"><input type="button" name="" id="ipt" value="保存" class="sbmBtn"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="skill-table-all">
                <table border="1"  id="skill">
                    <tr id="skill-bg-all">
                        <td colspan="2"><span>技能名称</span></td>
                        <td><span>初始</span></td>
                        <td><span>本职</span></td>
                        <td><span>职业</span></td>
                        <td><span>兴趣</span></td>
                        <td><span>合计</span></td>
                    </tr>

                </table>
            </div>



        </div>
    </div>
</div>


<script src="jquery/jquery-3.3.1.js"></script>
<script src="Bootstrap/js/bootstrap.js"></script>
<script src="js/js.js"></script>
<script src="js/vue.js"></script>
</body>
</html>