*{
    margin: 0;
    padding: 0;
}
/*global start*/
.content{
    width: 1226px;
    margin: 0 auto;
}
.clearfix:after{
    content: "";
    clear: both;
    display: block;
}
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');/*注意路径的正确*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;/*提升到最高级*/
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
a{
    text-decoration: none;
}
/* global end */
/*topber start */
.topber{
    width: 100%;
    height: 40px;
    background-color: #333;
    line-height: 40px;
    font-size: 12px;
}
.topber .topber-left{
    float: left;
}
.topber a{
    color: #b0b0b0;
    text-decoration: none;
}
.topber a:hover{
    color: white;
}
.topber .topber-left span{
    margin: 0 3px;
    color: #424242;
}
.topber .topber-right{
    float: right;
}
.topber-right .mini-car{
    background-color: #424242;
    display: inline-block;
    height: 40px;
    width: 120px;
    text-align: center;
    margin: 0 0 0 30px;
}
.topber-right .mini-car:hover{
    color: #ff6700;
}
/*topber end */
/*header start*/
.header .content{
    padding: 20px 0;
}
.header .header-left{
    float: left;
}
.header .header-left a{
    display: block;
    width: 55px;
    height: 55px;
    background: #ff6700 ;
}
.header .header-left a:after{
    content: "";
    width: 55px;
    height: 55px;
    display: block;
    background: url("../../xiaomi/mi-logo.png") center;
}
.header .header-center{
    float: left;
    margin-left: 180px;
}
ul{
    list-style-type: none;
}
.header .header-center li{
    float: left;
    height: 55px;
    line-height: 55px;
    padding: 0 10px;
}
.header .header-center a{
    color: #333;
    font-size: 16px;
    text-decoration: none;
}
.header .header-right{
    float: right;
}
.header .header-right input{
    height: 55px;
    width: 55px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #e0e0e0;
}
.header .header-right .search-text{
    width: 200px;
    height: 51px;
    padding: 1px 17px;
    margin-right: -4px;
    border: 1px solid #e0e0e0;
}
.header .header-right .iconfont{
    width: 200px;
    height: 200px;
    padding: 15px 15px;
    margin-left: -1px;
    border: 1px solid #e0e0e0;
    position: relative;
    top:14px;
}
.header .header-right a:hover{
    color: white;
    background: #ff6700
}
.header .header-right a{
    text-decoration: none;
    font-size: 24px;
    text-align: center;
}
.header .header-right i{
    font-size: 24px;
}
.header  .input-text a{
    font-size: 12px;
    background: #eee;
    color: #757575;
}
.header .header-right .input-text{
    position: relative;
    top: -40px;
    right: -104px;
}
/*header end*/

/*slider-bar start*/
.slider-bar{
    margin-top: 55px;
}
.slider-bar .content{
    position: relative;
    height: 460px;
}
.slider-bar .slider-contetn{
    width: 1226px;
    height: 460px;
    background-color: #ff6700;
    position: absolute;
    top:0;
    left:0;
}
.slider-bar .slider-left{
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
    background: rgba(0,0,0,0.6);
    width: 234px;
    height: 420px;
    padding: 20px 0;
}
.slider-bar .slider-left ul{
    padding-left:0 ;
}
.slider-bar .slider-left a{
    display: block;
    height: 42px;
    padding-left: 30px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 42px;
}
.slider-bar .slider-left a:hover{
    background: #ff6700;
}
.slider-bar .slider-left i{
    float: right;
    margin-right: 15px;
}
.slider-bar .slider-icon .si-top{
    position: absolute;
    top:50%;
    left: 233px;
    height: 70px;
    margin-top: -35px;
    width: 993px;
}
.slider-bar  .si-top a{
    display: inline-block;
    width: 41px;
    height: 69px;
    float: left;
    background-image: url("../images/jiantou.png");
    background-position: -85px 0;
}
.slider-bar  .si-top a:last-child{
    float: right;
    background-position: -125px;

}
.slider-bar  .si-top  .sit-left:hover{
    background-position: 0,0;
}
.slider-bar  .si-top  .sit-right:hover{
    background-position: -42px 0;
}
.slider-bar .si-bottom{
    position: absolute;
    bottom: 35px;
    right: 65px;
}
.slider-bar .si-bottom li{
    display: inline-block;
}
.slider-bar .si-bottom a{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: rgba(0,0,0,0.4);
    border-color: rgba(255,255,255,0.3);
    margin: 0 5px;
}
.slider-bar .si-bottom a:hover{
    background-color: rgba(255,255,255,0.6);
    border-color: rgba(0,0,0,0.4);
}
.slider-bottom  .bottom-1 {
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    float: left;
}
.slider-bottom li:before{
    position: relative;
    top: -20px;
    left: 4px;
    width: 68px;
    height: 1px;
    float: left;
    content: "";
    background: #665e57;
}
.slider-bottom li:after{
    position: relative;
    top: -26px;
    left: 0;
    width: 1px;
    height: 64px;
    float: left;
    content: "";
    background: #665e57;
}
.slider-bottom .top:before{
    display: none;
}
.slider-bottom ul li{
    float: left;
    width: 72px;
    padding: 0 3px;
    text-align: center;
    padding-top: 12px;
}
.slider-bottom ul a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.slider-bottom ul i{
    display: block;
}
.bottom-img{
    float: left;
}
.slider-bottom .bottom-img{
    margin-left: 14px;
}
.slider-bottom .bottom-img img{
    width: 316px;
    height: 170px;
}
.slider-bottom .content{
    margin-top: 14px;
}
/*slider-bar end*/

/*home star*/

.home .title {
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    width: 1226px;
    height: 58px;
}
.home .title a{
    display: inline-block;
    float: right;
    border: 1px solid #e0e0e0;
    width: 24px;
    height: 16px;
    padding: 3px 5px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}
.home .title a:hover{
    color: #ff6700;
}
.home .xm ul{
    display: inline-block;
    width: 2480px;
}
.home .xm ul li{
    display: inline-block;
    width: 234px;
    height: 300px;
    float: left;
    padding-top: 39px;
    margin-right: 14px;
    text-align: center;
    border-top: 2px solid #ffac13;
    background-color: #dddddd;
}
.home .xm li .sj{
    width: 160px;
    height: 166px;
    margin: 0 37px 22px;
    float: left;
}
.home .xm li  .sj-imga{
    width: 160px;
    height: 160px;
    float: left;
}
.home .xm li h3{
    width: 194px;
    height: 21px;
    margin: 0 20px 3px;
    float: left;
}
.home .xm  h3 a{
    display: inline-block;
    float: left;
    text-align: center;
    font-size: 14px;
    height: 20px;
    width:100%;
    color: #333333;
}
.home .xm .p-1{
    text-align: center;
    float: left;
    width: 194px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    margin: 0 20px 12px;
}
.home .xm .p-2{
    text-align: center;
    float: left;
    width: 234px;
    height: 28px;
    margin: 0;
    color: #ff6709;
}
/*home end*/

/*page start*/
.page{
    width: 100% ;
    height: 950px;
    background-color:#dddddd;
    padding: 60px 0 0;
}
.page .title-2{
    width: 1226px;
    height: 58px;
}
.page span{
    float: left;
}
.page .ul{
    width: 280px;
    height: 42px;
    float: right;
    text-align: right;
}
.page .ul li{
    display: inline-block;
    margin: 0 0 0 25px;
}
.page .row{
    width: 1226px;
    height: 628px;
}
.page .row .row-left {
    float: left;
    width: 234px;
    height: 628px;
}
.page  .row-left a{
    display: inline-block;
    width: 234px;
    height: 628px;
}
.page .row .row-right{
    float: left;
    width: 992px;
    height: 614px;
    margin:0 0 -14px -14px;
}
.page .row-right ul{
    display: inline-block;
    width: 992px;
}
.page .row-right li{
    display: inline-block;
    width: 234px;
    height: 246px;
    float: left;
    padding: 34px 0 20px 0;
    margin: 0 0 14px 14px;
    text-align: center;
    border-top: 2px solid #ffac13;
    background-color: #dddddd;
}
.page .row-right  .sj{
    width: 160px;
    height: 166px;
    margin: 0 37px 22px;
    float: left;
}
.page .row-right  .sj-imga{
    width: 160px;
    height: 160px;
    float: left;
}
.page .row-right   h3{
    width: 194px;
    height: 21px;
    margin: 0 20px 3px;
    float: left;
}
.page .row-right   h3 a{
    display: inline-block;
    float: left;
    text-align: center;
    font-size: 14px;
    height: 20px;
    width:100%;
    color: #333333;
}
.page .row-right .p-1{
    float: left;
    font-size: 12px;
    color: #b0b0b0;
    margin: 0 0 0 100px;
}
.page .row-right .p-2{
    float: left;
    color: #ff6709;
    margin: 10px 0 0 104px;
}
.page .row .row-right  .li-8 a{
    float: right;
}
.page .li-8-1{
    float: right;
    width: 234px;
    height: 93px;
    position: relative;
}
.page .row .li-8-1 .sj-imga{
    width: 80px;
    height: 80px;
}
.page .row .li-8-1 .p-4{
    color: #f56600;
}
.page .row .li-8 p{
position: relative;
    top: 35px ;
}
.page .li-8-2{
    float: right;
    width: 234px;
    height: 93px;
    position: relative;
}
.page .row .li-8-2 .sj-imga{
    width: 80px;
    height: 80px;
}
.page  .li-8 .sj {
    width: 80px;
    height: 85px;
    display: inline-block;
    float: left;
}
/*page end*/