html {font-size: 625%; /*100 ÷ 16 × 100% = 625%*/}
/*----------header start-----------------*/
#container-fluid-header {
    padding: 0;
}
.container-fluid .header-logo img{
    width:100%;
}
/*----------header end-----------------*/
/*----------item start-----------------*/
.item{
    background-color: rgba(0,0,0,0.9);
}
.item span{
    color: white;

}
.item p{
    background-color: rgba(0,0,100,.5);
    width: 98%;

}
.item .personal-information {
    width: 50%;
    text-align: center;
    border-right:1px solid #dddddd ;
    float: left;
}
 .item .money {
     width: 50%;
     text-align: center;
     float: right;
 }
 .money p{
     float: right;
 }
 .item .personal-attributes-left{
     width: 50%;
     text-align: center;
     float: left;
     border-right:1px solid #dddddd ;
 }
 .item .personal-attributes-right{
     width: 50%;
     text-align: center;
     float: right;
 }
.personal-attributes-right p{
    float: right;
}
.personal-attributes-right .table-attributes table {
    margin:  auto;
    color: #dddddd;
    width: 34.5rem;
    height: 10.4rem;
}
 .item .point{
     width: 50%;
     text-align: center;
     float: left;
     border-right:1px solid #dddddd ;
 }
 .point .table-skill table {
     margin:  auto;
     color: #dddddd;
     width: 34.5rem;
     height: 10.4rem;
 }
.table-skill table select{
    color: black;
}
.item .iMg{
    width: 50%;
    float: right;
}
.item .iMg img{
    width: 98%;
    float: right;
}
.item .skill{
    width: 50%;
    text-align: center;
    float: left;
    border-right:1px solid #dddddd ;
}
.item .skill #skill-bg{
    background-color: #665e57;
}
 .skill .skill-table table{
    margin:  auto;
    color: #dddddd;
    width: 34.5rem;
    height: 10.4rem;
}
